@import "compass/css3";
body{
  background-color: #272343;
  color: white;
  height:100vh; 
   
}
#namaste{
  font-family: Montserrat; 
  color: #ffc288;
  font-size: 150%;
}


/*navigation*/
nav{
  padding-top: .5em;
  padding-bottom: .5em;
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
}
.navbar-toggler{
  background-color: #440a67;
  border-style: none;
  filter: 0%;
}

.navbar-nav.me-auto.mb-2.mb-lg-0{
  margin-top: 5px;
}

.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #34495e;
  font-size: .99em;
  font-family: Montserrat;
  text-transform: uppercase;
}

.circles{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
#clr{
  font-size: 150%;
  padding:0 2rem;
  color: white;
}

h2{
  font-family: 'Pangolin','Times New Roman';
	text-align: center;
	color: white;
  font-weight: 400;
  letter-spacing: 45%;
}
/*about*/

.about img{
	margin: auto 44% 2% 44%;
	height: 200px;
	width: 200px;
  border-radius: 50%;
  vertical-align: middle;
  border-color: white;
  border-style: solid;
}

.about p{
  font-family: 'Quicksand',sans-serif;
  font-weight: bolder;
  letter-spacing: 1.5px;
  margin: 0 15%;
}

/*project*/

.project_name{
  text-decoration: none;
  color: #bae8e8;
  align-content: center;
  letter-spacing: 1px;
  font-family: 'New Tegomin','Times New Roman';
  font-variant: small-caps;
  font-size: 150%;
}
.project_name:hover{
  font-weight:bolder;
}

.projects p{
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
}

/*skills*/


/*contact*/

.contact a{
	margin-left: 47%;
}
main li:hover{
  font-weight: bold;
}
.btn.btn-outline-info{
	margin-bottom: 2%;
}

/*education*/

.education {
  background: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 3% 0%;
  font-family: "Open Sans";
}

.school {
  --bg-color: #DCE9FF;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.higher_secondary {
  --bg-color: #B8F9D3;
  --bg-color-light: #e2fced;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(184, 249, 211, 0.48);
}

.college {
  --bg-color: #CEB2FC;
  --bg-color-light: #F0E7FF;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(206, 178, 252, 0.48);
}


.cards {
  width: 220px;
  height: 321px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  margin: 2% auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0,0,0,0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
}

.cards:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  
}

.cards:hover .overlay_education {
  transform: scale(4) translateZ(0);
}

.cards:hover .circle_education {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.cards:hover .circle_education:after {
  background: var(--bg-color-light);
}

.cards:hover .para {
  color: var(--text-color-hover);
  font-weight: bolder;
}

.cards:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0,0,0,0.11),
    0 15px 24px var(--box-shadow-color);
}

.cards .para {
  font-size: 15px;
  color: #4C5656;
  margin-top: 2px;
  z-index: 1000;
  transition: color 0.3s ease-out;  
  
}
.para_about{
  font-size: 12px;
  justify-content: center;
  align-items: center;
  color: black;
  margin: -5% 4%;
}

.circle_education {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circle_education:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  transition: opacity 0.3s ease-out;
}

.circle_education i {
  z-index: 10000;
  transform: translateZ(0);
}

.overlay_education {
  width: 118px;
  position: absolute; 
  height: 118px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 70px;
  left: 50px;
  z-index: 0;
  transition: transform 0.3s ease-out;
}

/*experience*/


h1, h4, h5, h6 {
  font-family: 'Cabin', 'sans-serif';
}
.initial {
  font-size: 3em;
  color: white;
  font-weight: 700;
}
.logo {
  position: relative;
  margin-top: 20%;
  text-align: center;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
 }
 .logo a{
      padding: 15px;
 }
.logo .initial {
    margin: 20% auto;
    line-height: 25px;
    color: #272343;
    font-size : 1.25em;
    font-family: 'Montserrat';
    text-transform: uppercase;
    overflow: hidden;
  }

.exp{
  color: black;
  font-size: 48px; 
}
.name {
  margin: 2em;
  font-size: 19px;
  font-family: 'Cabin', 'sans-serif';
  font-weight: 700;
  color: black;
  letter-spacing: 3px;
}
.h3 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px; 
}
.about2 {
  margin: 0 auto;
  width: 200px;
  line-height: 16px;
}
.contact-info {
  line-height: 160px;
}
/* Rules for the cards  */
/* Credit: http://davidwalsh.name/css-flip */
/* entire container, keeps perspective */
.wrapper, .card-front, .card-back {
  width: 300px;
  height: 250px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
}
.wrapper {
  margin: 1em auto;
  perspective: 1000; 
}
/* Flip the pane when hovered */
.wrapper:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}
/* Flip speed and styling. */
.flipper {
  position: relative;
  transition: 0.8s;
  transform-style: preserve-3d;
}
/* Hide back of pane during swap */
.card-front, .card-back {
  position: absolute;
  backface-visibility: hidden;
  text-align: center;
  box-sizing: border-box;
}
/* Front pane, placed above back */
.card-front {
  background: #bae8e8;
}
/* back, initially hidden pane */
.card-back {
  transform: rotateY(180deg);
  background: #bae8e8;
  color: black;
}
@-webkit-keyframes bounce {
  0%   { margin-top: 15px; margin-bottom: 10px; }
  50%  { margin-top: 22px; margin-bottom: 3px; }
  100% { margin-top: 15px; margin-bottom: 10px; }
}
@keyframes bounce {
  0%   { margin-top: 15px; margin-bottom: 10px; }
  50%  { margin-top: 22px; margin-bottom: 3px; }
  100% { margin-top: 15px; margin-bottom: 10px; }
}
@-webkit-keyframes shadow {
  0%   { padding: 1px; opacity: 0.10; }
  50%  { padding: 3px; opacity: 0.18; }
  100% { padding: 1px; opacity: 0.10; }
}
@keyframes shadow {
  0%   { padding: 1px; opacity: 0.10; }
  50%  { padding: 3px; opacity: 0.18; }
  100% { padding: 1px; opacity: 0.10; }
}

/*project*/

.tab {
  margin: 0 15%;
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {  
  background-color: #272343;
  color: white;
  float: left;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 14px 25px;
  transition: 0.3s;
}



/* Create an active/current tablink class */
.tab button.active {
  color: white;
  background-color: black;
}

/* Style the tab content */
.tabcontent {
  margin: 0 15%;
  display: none;
  padding: 6px 12px;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}




/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*footer*/

.attribute{
  	text-align: center;
  } 
.social-accunts{
	text-align: center;
}

 ul:first-child li{
  list-style-type: none;
  display: inline-grid;
  margin-right: 2%;
}
li .fab{
  padding: 1%;
  padding-left: 5%;
}

.fab,.fa{
  width: 2em;
  height: 2em;
  text-align: center;
}
.fa-github{
  color: black;

}

.fa-github:hover
{
  background-color: black;
  color:white;
  border-radius: 100%;  
  line-height: 28px;
}

.fa-twitter:hover {
  background: #55ACEE;
  color: white;
  border-radius: 100%;
  line-height: 28px;
}

.fa-linkedin-in:hover{
  background: #007bb5;
  color: white;
  border-radius: 100%;
  line-height: 28px;
}
.fa-envelope:hover{
  background: #bbbbbb;
  color: black;
  border-radius: 100%;
  line-height: 28px;
}
.fa-instagram{
  color:#9d0191;
}

.fa-instagram:hover{
  background: #fd8c04;
  color: white;
  border-radius: 100%;
  line-height: 28px;
  }
footer{
  padding-top: .5em;
  padding-bottom: .5em;
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
}
