html {
  font-family: 'Belgrano';
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
 background-color: #e1e5ea;
 margin: 0;
}




/*cards and background*/
.background-color-layer {
  background-size: cover;
  opacity: 0.15;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 30%;
}


.card {
  border-radius: 0.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 3rem;
}
.card .h2,
.card h2 {
  margin-top: 0;
  margin-bottom: 40px;
}
.card .card-block {
  padding: 4rem;
}
@media (min-width: 992px) {
  .card .card-block {
    padding: 4rem;
  }
}


.white-text-container h1,.white-text-container h2 {
  color: black;
}
.intro {
  position: relative;
  z-index: 1;
  padding: 60px 0 40px;
}
/**navbar**/
nav{
  padding-top: .5em;
  padding-bottom: .5em;
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
}
.navbar-toggler{
  background-color:#e6e6ef;
  border-style: none;
  filter: 0%;
}

.navbar-nav.me-auto.mb-2.mb-lg-0{
  margin-top: 5px;
}

.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #34495e;
  font-size: .99em;
  font-family: Montserrat;
  text-transform: uppercase;
}
.navbar{
  position: fixed;
  z-index: 100;
  background-color: #e1e5ea;
  width: 100%;
}
#nav-text{
  font-size: 150%;
  padding:0 2rem;
  color: black;
  font-weight: 500;
  text-decoration: none;
}
#nav-text:hover{
	font-weight: bolder;
}

/*main*/



/*about*/
h1 {
  font-size: 2em;
  font-family: 'Montserrat', 'Times New Roman';
  font-variant: small-caps;
  margin: 0.67em 0;
}
.about p{
	font-family: Flamenco;
	font-weight: 500;
	font-size: 1.15em;
}

img {
  border: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}


h1,h2,h3,h4,h5,h6 {
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #000;
}
p {
  margin: 0 0 12.5px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:after,
.container:before {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid:after,
.container-fluid:before {
  content: " ";
  display: table;
}
.container-fluid:after {
  clear: both;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:after,
.row:before {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.column {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
/*project*/


.tab {
  overflow: hidden;
}
.tab button {  
  background-color: lightgray;
  color: black;
  float: left;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 14px 25px;
  transition: 0.3s;
  margin-bottom: 5px;

}

@media (max-width: 992px) {
  .tab button{
    padding: 7px 12px;
  }
}

.tab button.last-item{
  margin-bottom: 0;

}
.tab button.active {
  color: black;
  background-color: #C7BFB1;
  font-weight: 500;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}





/*education*/
.school {
  --bg-color: #DCE9FF;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.higher_secondary {
  --bg-color: #B8F9D3;
  --bg-color-light: #e2fced;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(184, 249, 211, 0.48);
}

.college {
  --bg-color: #CEB2FC;
  --bg-color-light: #F0E7FF;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.circle_education {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circle_education:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  transition: opacity 0.3s ease-out;
}
.para{
	align-content:   center;
}

.circle_education i {
  z-index: 10000;
  transform: translateZ(0);
}

.college, .higher_secondary {
  margin-bottom: 40px;
}
.school{
  margin-bottom: 0;
}
/*experience*/

.company{
	color: #31a9cc;
	text-decoration: none;
}
.work-experience {
  margin-bottom: 40px;
}
.work-experience:last-of-type {
  margin-bottom: 0;
}
/*profiles*/
.profile .profile-item{
    
    flex: 0 0 25%;
    max-width:25%;
    margin-bottom:30px;
    display: flex;

}
.profile .profile-item-inner{
    box-shadow: 5px 5px 10px 5px rgba(48,46,77,0.15);
    background-color: transparent;
    background-color: #fdf9ff;
    padding: 30px 10px;
    text-align: center;
    
}
.profile .profile-item-inner:hover{
    font-weight: bold;
}
.medium:hover {
    background: linear-gradient(83deg, #c2dad8, #c7e2f6);
    background-size: 400% 400%;
    animation: medium_color 1s infinite;
}

@keyframes medium_color {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.leetcode:hover {
    background: linear-gradient(31deg, #ebefd8, #e9acf5);
    background-size: 400% 400%;
    animation: leetcode_color 1s infinite;
}

@keyframes leetcode_color {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.codechef:hover {
    background: linear-gradient(31deg, #e0cfd0, #b98671);
    background-size: 400% 400%;
    animation: codechef_color 1s infinite;
}

@keyframes codechef_color {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.behance:hover {
    background: linear-gradient(31deg, #c8eeef, #a9e993);
    background-size: 400% 400%;
    animation: behance_color 1s infinite;
}

@keyframes behance_color {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.qwiklabs:hover {
    background: linear-gradient(31deg, #caf7e3,#ffc288);
    background-size: 400% 400%;
    animation: behance_color 1s infinite;
}

@keyframes qwiklabs_color {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.profile .profile-item-inner:hover .fas{
    color: black;
    font-weight: 700;
    font-size: 150%;
}

/*contact*/


/*footer*/
.footer-container {
  padding: 20px 0 30px;
}
.fa-icon {
  color: #000;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 29px;
  font-size: 15px;
  text-align: center;
}
.fa-icon.fa-icon-2x {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  color: gray;
}
.twitter:hover{
	color: #55ACEE;
}
.linked-in:hover{
	color:  #007bb5;
}
.github:hover{
	color:  black;
}
.instagram:hover{
	color:  #fd8c04;
}
.mail:hover{
	color: blue;
}

.attribute{
  	text-align: center;
  } 
.social-accunts{
	text-align: center;
}

 ul:first-child li{
  list-style-type: none;
  display: inline-grid;
  margin-right: 2%;
}
li .fab{
  padding: 1%;
  padding-left: 5%;
}




.block{
  border: none;
  box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 39%);
}

.introduction{
  border: none;
  box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 39%);  
  animation: moveblock 2s;
}

@keyframes moveblock {
  0%   {opacity: 0}
  100% {opacity: 1}
}
.big-letter{
  font-size: 7em;
  font-weight: 700;
  color: lightgray;
}
